body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
   height: 100vh;
}

textarea {
   width: 50%;
   padding: 10px;
   border: 1px solid #ccc;
   resize: none;
}

#preview {
   width: 50%;
   padding: 10px;
   border: 1px solid #ccc;
   overflow-y: auto;
}
